@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&display=swap');

*{
    font-family: 'Bitter', serif;
    color: rgb(0, 0, 0);
}
.card{
    max-width: 50em;
    flex-direction: row;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.card img{
    max-width: 50%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}